<div class="container">
    <div class="post">
        <label style="float: right; opacity: 0.4;">25.08.21</label>
        <label style="font-size:20px;"><b>v1.1.1</b></label><br><br>

        <span>Now Mage mini game was added, available only for PC
            Site is ready to be announced, when will be added new features - unknown
        </span>
    </div>

    <div class="post">
        <label style="float: right; opacity: 0.4;">01.08.21</label>
        <label style="font-size:20px;"><b>v1.1.0</b></label><br><br>

        <span>Back to developing site, new things:
            <li>Better design</li>
            <li>Comment system</li>
            <li>New Shoto-Nick icon (changed only hair lul)</li>
            <li>My and Resty's fan arts are added in contacts (ofc all drawn by Alkano x) )</li>
            <li>+3 Easter eggs</li>
            <li>When image url is corrupted it shows :sppoky_cake: emote (made by Alka)</li>
            <label>Would be cool to add Discord's emote writing system to site where u can use Alka's handmade emotes</label>
        </span>
    </div>


    <div class="post">
        <label style="float: right; opacity: 0.4;">05.05.21</label>
        <label style="font-size:20px;"><b>v1.0.2</b></label><br><br>

        <li>You can publish images but only by pasting url (similar idea as in myanimelist). You can upload image in any social media and copy its link
        </li>
        <li>Search bar is working + shows search outputs in real time. Planning to add smooth scrolling up effect, therefore deleted pagination in bottom
        </li>
        <li>Blog works for admins</li>
    </div>


    <div class="post">
        <label style="float: right; opacity: 0.4;">30.03.21</label>
        <label style="font-size:20px;"><b>v1.0.1</b></label><br><br>

            <li>Added pagination (both pc and mobile view) + site icon</li>
            <li>When u hit enter it will move text to next row</li>
            <li>New easter egg added (only for pc)</li>
            <li>Data fetch/input system added</li>
            <li>Some design changes + site was deployed via firebase</li>
    </div>

    <div class="post">
        <label style="float: right; opacity: 0.4;">16.03.21</label>
        <label style="font-size:20px;"><b>v1.0.0</b></label><br><br>

        <span>First site release</span>
    </div>
</div>