<div class="container">

    <div class="post">
        <label style="float: right; opacity: 0.4;">04.04.21</label>
        <label style="font-size:20px;"><b>v1.0.4</b></label><br><br>

        <span>Blog works for admins, deleted some updates infos because they were small
        </span>
    </div>


    <div class="post">
        <label style="float: right; opacity: 0.4;">02.04.21</label>
        <label style="font-size:20px;"><b>v1.0.3</b></label><br><br>

        <span>Search bar is working + shows search outputs in real time. Planning to add smooth scrolling up effect, therefore deleted pagination in bottom
        </span>
    </div>


    <div class="post">
        <label style="float: right; opacity: 0.4;">30.03.21</label>
        <label style="font-size:20px;"><b>v1.0.2</b></label><br><br>

        <span><li>Added pagination (both pc and mobile view) + site icon</li>
            <li>When u hit enter it will move text to next row</li>
        </span>
    </div>


    <div class="post">
        <label style="float: right; opacity: 0.4;">28.03.21</label>
        <label style="font-size:20px;"><b>v1.0.1</b></label><br><br>

        <span><li>New easter egg added (only for pc)</li>
            <li>Data fetch/input system added</li>
            <li>Some design changes + site was deployed via firebase</li>
        </span>
    </div>


    <div class="post">
        <label style="float: right; opacity: 0.4;">16.03.21</label>
        <label style="font-size:20px;"><b>v1.0.0</b></label><br><br>

        <span>First site release</span>
    </div>
</div>