<div style="color: rgb(255, 255, 255); float: right; position: absolute;">
    <li>Use arrow keys to move left/right</li>
    <li>Use up arrow key to jump</li>
    <li>You can jump on top of gems</li>
    <li>Collect as many gems as you can</li>
    <br>
    <label>Game was made by using phaser.io</label><br>
    <label>Song with FL Studio</label><br>
    <label>Sprites with Aseprite
    </label>
</div>
<div class="flex-center">
                <embed src="https://ed-mage-game.netlify.app" width="800" height="700"> 
</div>

