<div class="container">
    
    <div class='post'>
        <label id='header'><b>Most viewed videos</b></label><br><hr>

        <div class='hscroll'>
            <iframe  src="https://www.youtube.com/embed/W2MXIjjDJxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe src="https://www.youtube.com/embed/UiCoMNXEwkQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe src="https://www.youtube.com/embed/RAL-EUMcDU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
            <iframe src="https://www.youtube.com/embed/QALhFr-2VDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class='post'>
        <label id='header'><b>Boss guides</b></label><br><hr>

        <div class='hscroll'>
            <iframe src="https://www.youtube.com/embed/qw7USpop87I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <iframe src="https://www.youtube.com/embed/HWLhcvj7eb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe  src="https://www.youtube.com/embed/DWyRLVjNxBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe  src="https://www.youtube.com/embed/JUvmfMyLGxc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>  