<div class='container'>
    <div class="post">
    <!--N-->
        <label style="font-size:20px;"><b>Nick's info:</b></label><br><br>
        <a href="https://www.youtube.com/channel/UC4XnMk-zqFX2KDXNR0Skumw">Youtube</a>
        <a href="https://discord.gg/K6CFsj3kVG">Discord server</a><br>
        <span>I like to play elemental dungeon/minecraft/forager and other cuul games x]</span><br><hr>
    <!--R-->
        <label style="font-size:20px;"><b>Tester's info:</b></label><br><br>
        <a href="https://github.com/RestytheCake">Github</a><br>
        <span>I'm Resty and I like coding in python/django. Shy to talk :noelle_blush:</span><br><hr>
    <!--A-->
        <label style="font-size:20px;"><b>Site creator's info:</b></label><br><br>
        <a href="https://www.youtube.com/channel/UC-HfqetY5sFmOtv6LYW_u-g">Youtube</a>
        <a href="https://twitter.com/alkannno">Twitter</a>
        <a href="https://github.com/Cupcakeiris">Github</a><br>
        <span>I'm known as Alkano/Iris | About me:<br><br>
            <li>Can create simple console programs with Java</li>
            <li>Can create simple bots with discord.js</li>
            <li>Big fan of javascript</li>
            <li>Have little bit of experience with coding unity games</li>
            <li>Good at creating songs and pixel arts</li>
        </span>
    </div>
</div>
