<div class="flex-center">

<div class='container'>

    
    <div class="cpost" style="max-width: 600px;">
    <!--N-->
    <div class="flex-container">
    <div>
        <label style="font-size:20px;"><b>Nick's info:</b></label><br><br>
        <a href="https://www.youtube.com/channel/UC4XnMk-zqFX2KDXNR0Skumw">Youtube</a>
        <a href="https://discord.gg/K6CFsj3kVG">Discord server</a><br>
        <span>I like to play elemental dungeon/minecraft/forager and other cuul games x]</span><br>
        </div>
        <div>
            <img class="file" src="assets/img/logo.png" style="width: 100px; height: 100px;"><br>
        </div>
    </div>
    <hr>

    <!--R-->
    <div class="flex-container">
    <div>
        <label style="font-size:20px;"><b>Tester's info:</b></label><br><br>
        <a href="https://github.com/RestytheCake">Github</a><br>
        <span>I'm Resty and I like coding in python/django. Shy to talk :noelle_blush:</span><br>
    </div>
    <div>
        <img class="file" src="assets/img/resty.png" style="width: 100px; height: 100px;"><br>
    </div>
</div>
<hr>
    <!--A-->
    <div class="flex-container">
    <div>
        <label style="font-size:20px;"><b>Site creator's info:</b></label><br><br>
        <a href="https://www.youtube.com/channel/UC-HfqetY5sFmOtv6LYW_u-g">Youtube</a>
        <a href="https://twitter.com/alkannno">Twitter</a>
        <a href="https://github.com/Cupcakeiris">Github</a><br>
        <span>I'm Alkano lul thats all i think
        </span>
    </div>
    <div>
        <img class="file" src="assets/img/alka.png" style="width: 100px; height: 100px;"><br>
    </div>

</div>
</div>
    </div>
</div>
