<div class="topBanner">
    
    <div style="float: left;">
    <img [src]="imgSRC" id='logo'>
    </div>

    <div style="float: right;">
    </div>

    <label id='topBanner'>Welcome to EDGermanFlex!</label><br>

    <button class="buttonTop" routerLink="">Home</button>
    <button class="buttonTop" routerLink="/video">Videos</button>
    <button class="buttonTop" routerLink="/post">Post</button>
    <button class="buttonTop" routerLink="/blog">Blog</button>
    <button class="buttonTop" routerLink="/contact">Contacts</button><br>

</div>
