$bgColor: rgb(32, 32, 32);
$textColor: white;
$bottomBorderColor: rgb(57, 141, 109);


@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.box{
    display:flex;
    justify-content:center;
  }
  .item1{
     flex:1;
     display: flex;
     justify-content: center;
    
  }

.buttonTop{
    height: 50px;
    font-family: 'Pixel';
}


.topBanner{
    font-family: 'Pixel';
    color: $textColor;
    text-align: center;
    width: auto;
    padding: 10px 0px;
    background-color:$bgColor;
    font-size: 48px;
    border-bottom: 1px solid $bottomBorderColor;
}

#logo{
    width: 120px;
    height: 120px;
}
#logo:hover{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
}


@media (max-width: 800px) {
    #logo{
      display: none;
    }
    button{
        display:inline;
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
}

