<div class="topBanner">
<div class="box">
    
    <div>
        <img [src]="imgSRC" id='logo' style="position: absolute;">
    </div>

            <div class="item1">
                <div>
            <label id='topBanner'>Welcome to EDGermanFlex!</label><br>


            <button class="buttonTop" routerLink="">Home</button>
            <button class="buttonTop" routerLink="/video">Videos</button>
            <button class="buttonTop" routerLink="/post">Post</button>
            <button class="buttonTop" routerLink="/blog">Blog</button>
            <button class="buttonTop" routerLink="/contact">Contacts</button><br>
        </div>
        </div>       
</div>
</div>

    




