<div>
    <pagination-controls (pageChange)="p = $event" class="paginator"
        [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel"
        [responsive]="responsive">
    </pagination-controls>
</div>


<div class='container' style="text-align: center;">
    <app-search-bar (messageEvent)="receiveMessage($event)"></app-search-bar><br><br>
</div>



<div id='warnPost' style="opacity: 0.5;">
    <marquee behavior="scroll" direction="left">
        <label style="color: rgb(255, 0, 0);">SYSTEM | </label>
        <label>Please do not spam it takes so long to delete several posts :sob:</label>
    </marquee>
</div>


<div class='container'>

<button id='button' (click)=" isOn = !isOn">Create new post</button>
<app-create-post *ngIf="isOn"></app-create-post>
    
    <!--Angular's inbuild loop for html-->      <!--Filter and pagination package pipes-->
    <div class="post" *ngFor="let post of posts  | filter:search | paginate: {itemsPerPage: 10,
        currentPage: p}">
            <!--shows delete button if any user is registered to site
                however it will be changed in the future
                it should purposed only for admin roles
            -->
            <button *ngIf="authService.auth.user | async as user;" id='delete' (click)="delete($event, post)">X</button>
            
            <label id='header'><b>{{post.title}}</b></label>
            <label style="opacity: 0.4; margin-left: 5px;">{{post.date.toDate() | date: 'dd/MM/YYYY'}}</label><br><br>
            
            <label style="opacity: 0.7;">{{post.username}}</label><br><br>
        
            <span>{{post.description}}</span>
    </div>

</div>
