<div class='container'>
<button id='button' (click)=" isOn = !isOn">Create new post</button>
<app-create-post *ngIf="isOn"></app-create-post>


    <div class="post" *ngFor="let post of posts">
        <label style="float: right; opacity: 0.4;">{{post.date}}</label> <!--post.date.toDate() | date:'medium'-->
        <label style="font-size:20px;"><b>{{post.title}}</b></label><br><br>
        <label style="opacity: 0.7;">{{post.username}}</label><br><br>
    
        <span>{{post.description}}</span>
    </div>





<div class='post'>
    <label style="float: right; opacity: 0.4;">16.03.21 GMT: 19:26</label>
    <label style="font-size:20px;"><b>a</b></label><br><br>
    <label style="opacity: 0.7;">b</label><br><br>
    
    <span>c</span>
</div>
</div>