
<div class="container">
<div class="post" style="text-align: center;">
    <label>Prove your adminness</label><br><br>
    <pre>if u login with non-admin gmail i (alkano) can see it in my db
        if u dont have admin's gmail please do not risk to reveal ur gmail's name to the site creator
        even if its fake gmail
    </pre>
    <button (click)="authService.GoogleAuth()" style="height:max-content; width: max-content; font-size: 12px;">
        login
    </button>
    <button (click)="authService.signOut()" style="height:max-content; width: max-content; font-size: 12px; margin-left: 15px;">logout</button>
</div>
</div>
