
<div class="container">
<div class="post" style="text-align: center;">
    <pre>
    still in developement
    idk how u got url to get admin role
    but please dont ruin site :sob:
    </pre>
    <button (click)="authService.login()" style="height:max-content; width: max-content; font-size: 12px; ">
        login
    </button>
    <button (click)="authService.logout()" style="height:max-content; width: max-content; font-size: 12px; margin-left: 5px;">logout</button><br>
    <pre *ngIf="authService.auth.user | async as user;" style="color: red;">uid: {{id}}</pre>
</div>
</div>
