<div class="post">
        <form (ngSubmit)="onSubmit()">
                <label style="font-size:20px;"><b>Create new post</b></label><br><br>

                <label>Title</label><br>
                <input type="text" name="title" [(ngModel)]="post.title"><br><br>
        
                <label>Username</label><br>
                <input type="text" name="username" [(ngModel)]="post.username"><br><br>

                <label>Description</label><br>
                <textarea name="description" [(ngModel)]="post.description"></textarea><br>
        
                <button>Submit</button>
                <br><br>
        </form>

</div>
