<div class="post">
        <form (ngSubmit)="onSubmit()">
                <label id="header"><b>Create new post</b></label><br><br>
                <!--binding with ts file with [(ngModel)]-->
                <label class="mobileText">Title</label><br>
                <input type="text" name="title" [(ngModel)]="post.title" maxlength="25"><br><br>
        
                <label class="mobileText">Username</label><br>
                <input type="text" name="username" [(ngModel)]="post.username" maxlength="25"><br><br>

                <label class="mobileText">Description</label><br>
                <textarea name="description" [(ngModel)]="post.description" maxlength="510"></textarea><br><br>
                
                <label class="mobileText">Custom image</label><br>
                <input type="text" name="file" [(ngModel)]="post.file" maxlength="255" placeholder="Paste it's link"><br><br><br>
        
                <button style="width: 100px; font-size: 14px;">Submit</button>
                <br><br>
        </form>
</div>
