@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$bgColor: rgb(48, 48, 48);
$textColor: rgb(6, 37, 31);
$buttonColor:rgb(9, 56, 44);
$buttonHoverColor:rgb(66, 180, 146);
$buttonTextColor: white;

$postBgColor: rgb(227, 238, 235);
/*for contact*/
.cpost{
  background-color:$postBgColor;
  border: 30px solid transparent;
  border-image: url('assets/img/bord.png') 20% round;
  margin-top: 20px;
  width: auto;
  height: max-content;
}

.flex-center{
  display: flex; justify-content: center; align-items: center;
}

.flex-container{
  display: flex;
  flex-direction:row-reverse;
  justify-content: flex-end;
  /*justify-content:space-between;*/
}


#warnPost{
  background-color:$bgColor;
  color: $buttonTextColor;
  padding: 10px;
  width: auto;
  height: max-content;
}

.file{
  padding-right: 16px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  background-position: center;
}

/*search*/
.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 50vw;
  border: 3px solid $buttonColor;
  border-right: none;
  height: 24px;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 5px;
}

/**/

#button{
  margin-top: 10px;
  width: 200px;
}
#header{
  font-size: 20px;
}

#topBanner{
  font-size: 60px;
}

#delete{
  float: right;
  height: max-content;
  width: max-content;
  font-size: 11px;
}

/*pagination... why its so buggy, wasted 30min to fix its style bruh*/
.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
  background: $bgColor;
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
  content: '«';
  display: inline-block;
  margin-right: 2px;
  color: white;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    content: '»';
    display: inline-block;
    margin-left: 2px;
    color: white;
}

.paginator span{
  overflow-y: visible;
  color: white;
}

.paginator{
  text-align: right;
}

li.small-screen {
  color: $buttonTextColor;
}

.ngx-pagination{
  padding: 0px;
  margin: 0px;
}

.ngx-pagination .disabled span {
  display: none;
}

.paginator .ngx-pagination .current {
  margin: 0px;
}

.ngx-pagination a, .ngx-pagination button {
  margin:0px;
}

.paginator .ngx-pagination .current {
  background: $buttonHoverColor;
}

.paginator .ngx-pagination a:hover, .ngx-pagination button:hover {
  background:$buttonHoverColor;
  text-decoration: none;
}

.paginator .ngx-pagination a:focus, .ngx-pagination button:focus {
  outline: none;
}
/* */



.hscroll{
  overflow: auto;
  white-space: nowrap;
}

.submit{
  background-color: $buttonColor;
  color: $buttonTextColor;
  border: none;
  padding: 10px;
}

.submit:hover{
  background-color: $buttonHoverColor;
}

.container{
  margin-left: 5%;
  margin-right: 5%;
}


.post{
    background-color:$postBgColor;
    border: 30px solid transparent;
    border-image: url('assets/img/bord.png') 20% round;
    margin-top: 20px;
    width: auto;
    height: max-content;
    max-height: 500px;}

::selection{
  background-color: $buttonHoverColor;
}


html{
  font-family: 'Roboto', sans-serif;
  color: $textColor;
}

a{
  margin-right: 10px;
  color: $buttonColor;
}

a:hover{
  color:$buttonHoverColor;
}

body{
  margin:0;
  background-size: 1000px;

  button{
    color: $buttonTextColor;
    cursor: pointer;
    padding: 1%;
    width: 150px;
    background-color:$buttonColor;
    outline: none;
    border: none;
    font-size: 18px;
  }
  button:hover{
    background-color: $buttonHoverColor;
  }

  label{
    word-wrap: break-word;
  }
  
  span{
    display: block;
    word-wrap: break-word;
    overflow-y:auto;
    padding: 10px 0px;
    max-height: 155px;
    white-space: pre-wrap;
  }

  textarea{
    outline: none;
    border: none;
    resize: none;
    width: 80%;
    height: 100px;
  }

  input{
    outline: none;
    width: 35%;
    padding: 5px 0px;
    border: none;
  }

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px;}

@media only screen and (max-width: 3000px) {
  body {
    background-image: url('assets/img/patterndark.png');
  }
}

@media only screen and (min-width: 3000px) {
  body {
    background-image: url('assets/img/rickroll.gif');

  }
}

@media (max-width: 800px) {
  span{
    font-size: 12px;
  }

  body{
    button{
      font-size: 16px;
      height: 30px;
    }
  }

  .flex-container{
    display: block;
    /*justify-content:space-between;*/
  }

  .searchTerm{
    width: 60vw;
  }

  .mobileText{
    font-size: 12px;
  }

  #header{
    font-size: 16px;
  }
  #topBanner{
    font-size: 30px;
  }
  .file{
    width: 200px; height: 150px;
    padding-right: 0px;
  }
  .container{
    margin-left: 5%;
    margin-right: 5%;
  }

  body{
    input{
      width: 60%;
    }
  }
}
