<div id='warnPost' style="opacity: 0.5;">
<marquee behavior="scroll" direction="left">
    <a routerLink='/mage' style="color: white;">Try out this mini game! (can be played only on PC)</a>
</marquee>
</div>

<div class="container">
        <br>
        <label style="color: white; font-size: large;">Total posts:</label>
        <label style="color: rgb(255, 43, 53); font-size: large;" id="visits"> {{ numb }}</label><br>

    <div class="post">
        <label id="header"><b>Firestore account was switched:</b></label>
        <label class="mobileText" style="float: right; opacity: 0.4;">06.05.21</label><br><br>
        <label class="mobileText">All previous messages are stored in my (Alkano's) private gmail. Changed it to Kuchen team's gmail</label><br>
    </div>

    <div class="post">
        <label id="header"><b>Special thanks go to:</b></label><br><br>

        <ul class="mobileText">
            <li>Alkano - for using Angular and making mega cool site</li>
            <li>Resty - for literally all</li>
            <li>Nick - for being Alkano's best client ever and keeping her company</li>
        </ul>

    </div>

    <div class="post">
        <a routerLink="/changelog" class="mobileText">View site changelogs here</a><br>
    </div>
    <label style="color: black;">U can see this? R u wizard???</label>
</div>

