<div class="container">

    <div class="post">
        <label style="font-size:20px;"><b>12 cookies in this site</b></label><br><br>
        <label>Youtube videos are adding 10 cookies to site, however only 2 cookies are used to store your inputs to online database</label><br>
        <label>Youtube is evil :(</label>
    </div>

    <div class="post">
        <label style="font-size:20px;"><b>Special thanks go to:</b></label><br><br>
    
        <ul>
            <li>Alkano - for using Angular and making mega omega cool site</li>
            <li>Resty - for making magic tricks and suffering from Alka's dumb questions</li>
            <li>Nick - for being Alkano's best client ever and keeping her company</li>
        </ul>
    </div>

    <div class="post">
        <a routerLink="/changelog">View site changelogs here</a><br>
    </div>

</div>